Q1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i.
WAP to add 200 and 300 to L.
ii.
iii.
iv.
WAP to remove 10 and 30 from L.
WAP to sort L in ascending order.
WAP to sort L in descending order.

In [5]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

L.sort()
print("Sorted in ascending order:", L)

L.sort(reverse=True)
print("Sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Q2 Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i.
ii.
iii.
iv.
Identify the highest score and its index in the tuple.
Find the lowest score and count how many times it appears.
Reverse the tuple and return it as a list.
Check if a specific score â€˜76â€™ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying itâ€™s not present.

In [4]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(scores)
highest_index = scores.index(highest_score)
print(f"Highest score: {highest_score}, Index: {highest_index}")

lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print(f"Lowest score: {lowest_score}, Count: {lowest_count}")

reversed_scores = list(scores[::-1])
print(f"Reversed scores as a list: {reversed_scores}")

specific_score = 76
if specific_score in scores:
    first_occurrence_index = scores.index(specific_score)
    print(f"Score {specific_score} is present at index: {first_occurrence_index}")
else:
    print(f"Score {specific_score} is not present in the tuple.")

Highest score: 92, Index: 5
Lowest score: 45, Count: 2
Reversed scores as a list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Score 76 is present at index: 2

Q3.WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i.
ii.
iii.
All odd numbers
All even numbers
All prime numbers

In [3]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = []
even_numbers = []
prime_numbers = []

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

for number in random_numbers:
    if number % 2 == 0:
        even_numbers.append(number)
    else:
        odd_numbers.append(number)

    if is_prime(number):
        prime_numbers.append(number)


print("Odd numbers:", odd_numbers)
print("Count of odd numbers: ",len(odd_numbers))
print("Even numbers:", even_numbers)
print("Count of even numbers: ",len(even_numbers))
print("Prime numbers:", prime_numbers)
print("Count of prime numbers: ",len(prime_numbers))

Odd numbers: [299, 621, 715, 271, 853, 671, 641, 231, 829, 867, 113, 589, 213, 215, 173, 509, 621, 741, 351, 319, 291, 771, 629, 865, 303, 545, 101, 801, 617, 711, 739, 187, 573, 453, 327, 677, 127, 261, 671, 523, 501, 263, 323, 129, 415, 753, 229, 763, 307, 399, 523, 487, 103]
Count of odd numbers:  53
Even numbers: [628, 818, 546, 604, 640, 130, 148, 318, 286, 604, 622, 766, 364, 456, 498, 574, 116, 654, 520, 586, 774, 288, 178, 500, 698, 384, 760, 384, 722, 516, 278, 316, 404, 258, 872, 244, 458, 384, 498, 564, 360, 246, 822, 398, 460, 724, 550]
Count of even numbers:  47
Prime numbers: [271, 853, 641, 829, 113, 173, 509, 101, 617, 739, 677, 127, 523, 263, 229, 307, 523, 487, 103]
Count of prime numbers:  19

Q4.Consider the following two sets, A and B, represen ng scores of two teams in mul ple
matches.  A = {34, 56, 78, 90}  and B = {78, 45, 90, 23}
WAP to perform the following opera ons using set func ons:
i.
Find the unique scores achieved by both teams (union of sets).
ii.
iii.
iv.
v.
Iden fy the scores that are common to both teams (intersec on of sets).
Find the scores that are exclusive to each team (symmetric difference).
Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
Remove a specific score ð‘‹ (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [2]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)
print(f"Unique scores achieved by both teams (Union): {unique_scores}")

common_scores = A.intersection(B)
print(f"Scores common to both teams (Intersection): {common_scores}")

exclusive_scores = A.symmetric_difference(B)
print(f"Scores exclusive to each team (Symmetric Difference): {exclusive_scores}")

is_subset = A.issubset(B)
print(f"Are the scores of team A a subset of team B? {is_subset}")

is_superset = B.issuperset(A)
print(f"Are the scores of team B a superset of team A? {is_superset}")

X = int(input("Enter a score to remove from team A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from team A. Updated team A: {A}")
else:
    print(f"Score {X} is not present in team A.")

Unique scores achieved by both teams (Union): {34, 45, 78, 23, 56, 90}
Scores common to both teams (Intersection): {90, 78}
Scores exclusive to each team (Symmetric Difference): {34, 45, 23, 56}
Are the scores of team A a subset of team B? False
Are the scores of team B a superset of team A? False
Enter a score to remove from team A: 34
Score 34 removed from team A. Updated team A: {56, 90, 78}

Q5.Write a program to rename a key city to a location in the following dictionary.

In [1]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}


old_key = "city"
new_key = "location"

if old_key in sample_dict:
    sample_dict[new_key] = sample_dict[old_key]
    del sample_dict[old_key]
    print(f"Renamed '{old_key}' to '{new_key}'.")
else:
    print(f"Key '{old_key}' not found in the dictionary.")

print("Updated dictionary:",sample_dict)

Renamed 'city' to 'location'.
Updated dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}