Q1.Hello World

In [1]:
print("Hello, my name is Rujul")

Hello, my name is Rujul

Q2.Add numbers and concatenate strings

2.1 Add two numbers

In [2]:
a=10
b=20
print("sum : ",a+b)

sum :  30

2.2 Concatenate two strings

In [3]:
str1 = "Hello"
str2 = "World"
print("Concatenated String:", str1 + " " + str2)

Concatenated String: Hello World

2.3 Concatenate a string and a number

In [ ]:
a = "The number is"
number = 8
print(a + str(number))

Q3. If-Else statements

3.1 Check if a number is positive,negative or zero

In [9]:
number = int(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 2
The number is positive.

3.2 Check if number is odd or even

In [10]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 3
The number is odd.

Q4 Loops

4.1 Print numbers from 1 to 10 using a for loop

In [ ]:
for i in range(1, 11):
    print(i)

 4.2 Print numbers from 1 to 10 using a while loop

In [ ]:
i = 1
while i <= 10:
    print(i)
    i += 1

4.3 Calculate the sum of numbers from 1 to 100

In [ ]:
sum = 0
for i in range(1, 101):
    sum += i
print("Sum from 1 to 100:", sum)

Q5 Data structures

5.1  Find largest and smallest numbers in a list

In [12]:
num = [10, 5, 46, 25, 3]
print("Largest number:", max(num))
print("Smallest number:", min(num))

Largest number: 46
Smallest number: 3

5.2 Retrieve the value of a given key from a dictionary

In [13]:
Student={
    "name":"Rujul",
    "rollno":200

}
print(Student["rollno"])

200

5.3 Sort a list in ascending and descending order

In [16]:
numbers = [8, 0, 5, 21, 1]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[0, 1, 5, 8, 21]
[21, 8, 5, 1, 0]

5.4 Merge two dictionaries

In [17]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q6 Strings

6.2 Reverse a string

In [18]:
string = "Python"
print("Reversed string:", string[::-1])

Reversed string: nohtyP

6.3  Check if a string is a palindrome

In [21]:
str1="madam"
str2 = str1[::-1]
if(str2==str1):
  print("Palindrome")
else:
  print("Not a palindrome")

Palindrome

6.1 Count the number of vowels in a string

In [22]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0

    for char in input_string:
        # Check if the character is a vowel
        if char in vowels:
            count += 1

    return count

input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print(f"The number of vowels in the string is: {vowel_count}")

The number of vowels in the string is: 3

Q7 File Handling

7.1 Create, write, and read a file

In [23]:
with open("sample.txt", "w") as file:
    file.write("Hello, this is a sample text.")
with open("sample.txt", "r") as file:
    content = file.read()
print("File content:", content)

File content: Hello, this is a sample text.

 7.2 Append text to an existing file

In [24]:
with open("sample.txt", "a") as file:
    file.write("\nThis is appended text.")
with open("sample.txt", "r") as file:
    content = file.read()
print("Updated content:", content)

Updated content: Hello, this is a sample text.
This is appended text.

7.3 Count the number of lines in a file

In [25]:
with open("sample.txt", "r") as file:
    lines = file.readlines()
print("Number of lines:", len(lines))

Number of lines: 2

Q8 Exception Handling

8.1 Handle division by zero

In [26]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Division by zero is not allowed.")

Division by zero is not allowed.

8.2 Handle invalid input

In [28]:
try:
    number = int(input("Enter a number: "))
    print("You entered:", number)
except ValueError:
    print("Invalid input! Please enter a number.")

Enter a number: s
Invalid input! Please enter a number.

8.3 Demonstrate the use of finally

In [29]:
try:
    result = 10 / 2
finally:
    print("This block executes no matter what.")

This block executes no matter what.

Q9 Random Numbers

9.1 Generate 5 random numbers

In [30]:
import random
print("Random numbers:", [random.randint(1, 100) for _ in range(5)])

Random numbers: [50, 68, 57, 15, 43]

9.2 Generate a random number and check if it's prime

In [38]:
number = random.randint(1, 100)
if number < 2:
    print(f"{number} is not a prime number.")
for i in range(2, number):
    if number % i == 0:
        print(f"{number} is not a prime number.")
        break
else:
    print(f"{number} is a prime number.")

80 is not a prime number.

9.3 Simulate rolling a six-sided die

In [31]:
print("Rolled die:", random.randint(1, 6))

Rolled die: 4

9.4 Shuffle a list

In [32]:
numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print("Shuffled list:", numbers)

Shuffled list: [4, 3, 1, 5, 2]

9.5 Randomly select an item from a list

In [33]:
print("Random item:", random.choice(numbers))

Random item: 5

9.6 Generate a random password

In [39]:
length = 8
password = ''.join(random.choices("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*", k=length))
print("Random password:", password)

Random password: pOq&tSYH

9.7 Pick a random card from a deck

In [40]:
suits = ["Hearts", "Diamonds", "Clubs", "Spades"]
ranks = ["2", "3", "4", "5", "6", "7", "8", "9", "10", "Jack", "Queen", "King", "Ace"]
card = f"{random.choice(ranks)} of {random.choice(suits)}"
print("Random card:", card)

Random card: 2 of Diamonds

Q10 Command Line Arguments

10.1 Add two numbers from command-line arguments

In [ ]:
import sys
if len(sys.argv) == 3:
    num1 = int(sys.argv[1])
    num2 = int(sys.argv[2])
    print("Sum:", num1 + num2)

10.2 Print the length of a string from command-line arguments

In [47]:
import sys
if len(sys.argv) == 2:
    string = sys.argv[1]
    print("Length of the string:", len(string))

Q11 Use of Libraries

11.1  Calculate the square root of a number

In [48]:
import math
import datetime
import os
number = 16
print("Square root:", math.sqrt(number))

Square root: 4.0

11.2 Print the current date and time

In [ ]:
print("Current date and time:", datetime.datetime.now())

11.3 List all files in the current directory

In [ ]:
print("Files in the current directory:", os.listdir("."))